body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-color: #090519;
	overflow-x: hidden;	
}

canvas {
	display: none;
}

.layoutContainer {	
	position:relative;	
	z-index: 1;
	width: var(--gridContainerWidthLeft);
	border: 5px solid #651c1c;
	height: var(--gridContainerHeight);	
}

.gridContainer {	
	display: flex;
	flex-wrap: wrap;	
	transition-property: width;
	transition-duration: 10s;
	transition-timing-function: linear;
	width: var(--gridContainerWidthLeft);
	height: var(--gridContainerHeight);
	overflow-y: hidden;
}

.bigPixel {	
	border-top: var(--interlaceWidth);	
	width: var(--bigPixelWidth);
	height: var(--bigPixelHeight);	
}

:root {
	--gridContainerWidthLeft: 0;	
	--gridContainerHeight: 0; 	 
	--bigPixelWidth: 6px;
	--bigPixelHeight: 2px;
	--interlaceWidth: 4px solid #141a2b;
}


