body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-color: #151c31;
	/*overflow-x: hidden;	*/
}

canvas {
	display: none;
}

.outerContainer {
	display: flex;
	flex-direction: column;
	border: 3px solid var(--uiColor);
	padding: 20px;
	background-color: black;
	border-radius: 2% 2% 10% 10%;	
}

.border {
	display: flex;
	flex-direction: column;
	border: 3px solid var(--uiColor);
	padding: 2px;	
}

.layoutContainer {	
	position:relative;	
	z-index: 1;
	width: var(--gridContainerWidthLeft);
	height: var(--gridContainerHeight);	
	border: 5px solid var(--uiColor);	
	padding: 5px;	
}

.gridContainer {	
	display: flex;
	flex-wrap: wrap;	
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
	width: var(--gridContainerWidthLeft);
	height: var(--gridContainerHeight);
	overflow-y: hidden;
	background-color: #36d28a;
}

.bigPixel {
	opacity: 1;
	border-top: var(--interlaceWidth);	
	width: var(--bigPixelWidth);
	height: var(--bigPixelHeight);	
}

.textPixel {	
	opacity: 0;	
}



.navBox {
	display: flex;	
	justify-content: center;
}

button {
	font-size: 24px;
	color: #218875;
	background-color: var(--uiColor);	
	outline: none;	
	height: 50px;	
	margin: 0;
	letter-spacing: 4px;	
}

span {
	margin-left: 10px;
	margin-right: 10px;
}

.btnContainer {
	display:flex;
	align-self: center;
	align-items: center;		
	border: 3px solid var(--uiColor);
	background-color: #000000;
	padding: 3px;
	margin: 3px;
	border-radius: 2px;
	margin-top: 20px;
}


:root {
	--gridContainerWidthLeft: 0;	
	--gridContainerHeight: 0; 	 
	--bigPixelWidth: 6px;
	--bigPixelHeight: 2px;
	--interlaceWidth: 4px solid #141a2b;
	--uiColor: #0d635f;
}


